<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Edit', edit_post_path(@post), :class=> "button small secondary round"  %>
<%= link_to 'Back', posts_path, :class=> "button small secondary round"  %>
