<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Cancel', @post, :class=> "button small secondary round"  %>

<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button small round alert" %>

